<!-- <ng-container [formGroup]="formProfileInfo">  
    <div formGroupName="formProfileInfo">
    <mat-form-field>  
      <label>no Of BedRooms</label>
    <input matInput formControlName="noOfBedRooms" placeholder="no Of BedRooms">
  </mat-form-field>
    <mat-form-field>  
      <label>no Of Balconiesv</label>
    <input matInput formControlName="noOfBalconies" placeholder="no Of Balconiesv">
  </mat-form-field>
    <mat-form-field>  
      <label>no Of Bathrooms</label>
    <input matInput formControlName="noOfBathrooms" placeholder="no Of Bathrooms">
  </mat-form-field>
    <mat-form-field>  
      <label>property On Floor</label>
    <input matInput formControlName="propertyOnFloor" placeholder="property On Floor">
  </mat-form-field>
    <mat-form-field>  
      <label>total Floors</label>
    <input matInput formControlName="totalFloors" placeholder="total Floors">
  </mat-form-field>
</div>
</ng-container> -->